* {
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #272727;
  overflow: hidden;
}

button {
  border: none;
  height: 60px;
  width: 180px;
  background-color: transparent;
  color: greenyellow;
  font-size: 20px;
  cursor: pointer;
  position: relative;
}

button::before {
  content: "";
  position: absolute;
  box-sizing: border-box;
  border-bottom: 2px solid transparent;
  border-left: 2px solid transparent;
  left: 0;
  bottom: 0;
  height: 0;
  width: 0;
  transition: all 0.8s ease;
}

button::after {
  content: "";
  position: absolute;
  box-sizing: border-box;
  right: 0;
  top: 0;
  border-top: 2px solid transparent;
  border-right: 2px solid transparent;

  height: 0;
  width: 0;
  transition: all 0.8s ease;
}

button:hover::before,
button:hover::after {
  border-color: yellowgreen;
  height: 100%;
  width: 100%;
}
